<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/burger_style.css">
	<title>Eat-Da-Burger</title>
</head>

<body>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/controllers/burger_controller.js"></script>
</body>

</html>